# Class Builders

## namedtuple

In [ ]:
from collections import namedtuple

Coordinate = namedtuple('Coordinate', 'lat lon')

In [ ]:
issubclass(Coordinate, tuple)

In [ ]:
krk = Coordinate(50.049, 19.944)

In [ ]:
krk

In [ ]:
krk = krk._replace(lat = 50.05)

In [ ]:
krk

In [ ]:
krk.lat

In [ ]:
krk.lon

In [ ]:
krk._asdict()

## typing.NamedTuple

In [ ]:
from typing import NamedTuple

Coordinate = NamedTuple('Coordinate', lat=float, lon=float)

In [ ]:
Coordinate.__annotations__

In [ ]:
class Leg(NamedTuple):
    start: Coordinate
    end: Coordinate
    distance: float

In [ ]:
krk = Coordinate(50.049, 19.944)

In [ ]:
first_leg = Leg(start=krk, end=Coordinate(66.5, 42), distance=281)

## Dataclass

In [ ]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Coordinate:
    lat: float
    lon: float

    def __str__(self) -> str:
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'

In [ ]:
krk = Coordinate(50.049, 19.944)

In [ ]:
print(krk)

In [ ]:
@dataclass
class ClubMember:
    name: str
    guests: list = []

In [ ]:
import dataclasses

@dataclass
class ClubMember:
    name: str
    guests: list = []

In [ ]:
import dataclasses

@dataclass(order=True)
class ClubMember:
    name: str
    nick_name: str | None = None
    guests: list = dataclasses.field(default_factory=list)

In [ ]:
cm1 = ClubMember('John', 'Jey', ['Ewa', 'Mark'])

In [ ]:
cm1

In [ ]:
cm2 = ClubMember('Adam', guests=['Zenon'])

In [ ]:
cm2

In [ ]:
cm3 = ClubMember("Ola")

In [ ]:
cm3.guests.append('John')

In [53]:
from dataclasses import dataclass
from enum import Enum, auto
from typing import Callable, ClassVar
import datetime


class TransactionType(Enum):
    Withdrawal = auto()
    Deposit = auto()


@dataclass(frozen=True)
class Transaction:
    timestamp: datetime.datetime
    transaction_type: TransactionType
    account_id: int
    amount: float

    datetime_provider: ClassVar[Callable[[],
                                         datetime.datetime]] = datetime.datetime.now

    @classmethod
    def create(cls,
               transaction_type: TransactionType,
               account_id: int,
               amount: float) -> 'Transaction':
        return Transaction(cls.datetime_provider(), transaction_type, account_id, amount)

In [55]:
Transaction.datetime_provider = lambda: datetime.datetime(2023, 1, 22)

Transaction.create(TransactionType.Deposit, 423342, 100)

Transaction(timestamp=datetime.datetime(2023, 1, 22, 0, 0), transaction_type=<TransactionType.Deposit: 2>, account_id=423342, amount=100)